{% extends 'blog/base.html' %}

{% block body_block %}


{{ object.title }}
<br>
by {{ object.author }}
<br>
posted on {{ object.created_date|date:'d-m-Y' }}
<br>
<hr>
<br>
{{ object.text }}



{% if request.user.is_superuser %}
<button class='btn btn-primary' type='submit'><a href="{% url 'update' pk=object.pk %}">Edit</a></button>

<button class='btn btn-danger' type='submit'><a href="{% url 'delete' pk=object.pk %}">delete Post!</a></button>
{% if object.published %}
{% else %}
<button class='btn btn-danger' type='submit'><a href="{% url 'publish' pk=object.pk %}">Publish Post!</a></button>
{% endif %}
{% endif %}



{% endblock %}
